/* .revx-stock-product {
	margin-bottom: 15px;
} */
.revx-flip-container {
	/* width: 100%;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
	color: rgb(255, 115, 0); */
	/* text-align: center; */
	/* justify-content: center; */
}
.revx-flip-wrapper {
	position: relative;
	/* height: 100%;
    width: inherit; */
}

.revx-flip-text {
	position: absolute;
	width: 100%;
	opacity: 0;
	animation: slideInOut 8s infinite;
}

.revx-flip-text:nth-child(2) {
	animation-delay: 4s;
}

@keyframes slideInOut {
	0% {
		transform: translateY(18%);
		opacity: 0;
	} /* Start below */
	10%,
	45% {
		transform: translateY(0);
		opacity: 1;
	} /* Fully visible */
	55%,
	100% {
		transform: translateY(-18%);
		opacity: 0;
	} /* Move up but stays in position */
}
